* {
  font-family: sans-serif; }

body {
  margin: 0; }

.hide {
  display: none; }

.Board {
  border: 30px solid #382624;
  border-radius: 5px;
  position: relative; }

.Game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }
  .Game .warning {
    height: 30px; }
    .Game .warning > * {
      color: red;
      font-size: 20px;
      margin: 0; }

.Home {
  padding: 30px; }
  .Home button {
    background-color: darkgreen;
    color: white;
    font-size: 20px;
    width: 250px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px 10px; }
    .Home button:disabled {
      background-color: #eeeeee;
      color: #cccccc;
      cursor: not-allowed; }

.Login {
  display: flex;
  justify-content: center;
  margin-top: 100px; }
  .Login .form-wrapper {
    width: 200px; }
  .Login label {
    font-size: 14px; }
  .Login input {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%; }
  .Login button {
    background-color: darkgreen;
    color: white;
    font-size: 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px 10px; }
  .Login span {
    color: royalblue;
    cursor: pointer; }

.Modal {
  z-index: 20;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .Modal .view-box {
    background-color: white;
    padding: 20px 40px;
    border-radius: 5px; }
  .Modal .pieces {
    display: flex; }
  .Modal .piece {
    cursor: pointer; }
    .Modal .piece img {
      width: 50px; }

.NavBar {
  display: flex;
  justify-content: space-between;
  background-color: darkgreen;
  padding: 20px 60px; }
  .NavBar a {
    color: white;
    text-decoration: none;
    margin: 0 10px; }

.Piece {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
  z-index: 10; }
  .Piece .chess-piece {
    height: 50px; }

.Square {
  box-sizing: border-box;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  transform-origin: center; }
  .Square.dark {
    background-color: #7D574B; }
  .Square.light {
    background-color: #FCD3A4; }
