* {
  font-family: sans-serif; }

.hide {
  display: none; }

.Board {
  border: 30px solid #382624;
  border-radius: 5px;
  position: relative; }

.Game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }
  .Game .warning {
    height: 30px; }
    .Game .warning > * {
      color: red;
      font-size: 20px;
      margin: 0; }

.Modal {
  z-index: 20;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .Modal .view-box {
    background-color: white;
    padding: 20px 40px;
    border-radius: 5px; }

.Piece {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
  z-index: 10; }
  .Piece .chess-piece {
    height: 50px; }

.Square {
  box-sizing: border-box;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  transform-origin: center; }
  .Square.dark {
    background-color: #7D574B; }
  .Square.light {
    background-color: #FCD3A4; }
