.Home {
  padding: 30px;
  button {
    background-color: darkgreen;
    color: white;
    font-size: 20px;
    width: 250px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px 10px;
    &:disabled {
      background-color: #eeeeee;
      color: #cccccc;
      cursor: not-allowed;
    }
  }
}