* {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.hide {
  display: none;
}

@import './App';
@import './Board';
@import './Game';
@import './Modal';
@import './NavBar';
@import './Piece';
@import './Square';