.Modal {
  z-index: 20;
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .view-box {
    background-color: white;
    padding: 20px 40px;
    border-radius: 5px;
  }
}